body {
    background-color: #F5FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    Color: red;
}

#second {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    font-weight: 900;
}

#tables{
    width: 800px;
    border-spacing: 7px;
}

#heads{
    border: 0px;
    width: 375px;
}

#Titles {
    width: 575px;
    text-align: left;
}

#spacer{
    border:0px;
    width: 25px;
}

#halfPage{
    width: 375px;
}

p{
    margin: 2px
}

td {
    border: 2px solid black;
    border-collapse: collapse;
}

